@use '../mixins/mixins' as *;

// Navbar
.navbar {
    position: absolute;
    z-index: 2;
    top:0;
    left: 0;
    right: 0;
    @include flex(space-between, center);
    flex-wrap: wrap;
    padding: 40px 25px;

    // En responsive (- de 1020px), la navbar devient verte
    @include bp(1020px) {
        background-color: $color-primary-green;
    }

    // En responsive (- de 450px), on centre les éléments (à savoir le logo)
    @include bp(450px) {
        justify-content: center;
    }

    // .navbar__list
    &__list {
        @include flex(space-between, center);
        gap: 50px;

        // .navbar__list__item
        &__item {
            @include flex(center, center, column);
            gap: 10px;
            // En responsive (- de 1020px), on cache les éléments du menu
            @include bp(1020px) {
                display: none;
            }

            // .navbar__list__item__border
            &__border {
                visibility: hidden;
                width: 60%;
                height: 2px;
                background-color: $color-primary-white;
            }

            // Lorsqu'on survol un élément de la navbar, on affiche la bordure
            // .navbar__list__item:hover
            &:hover {
                // .navbar__list__item:hover .navbar__list__item__border
                & .navbar__list__item__border {
                    visibility: visible;
                }
            }

                // .navbar__list__item__btn
            &__btn {
                display: block;
                background-color: $color-primary-white;
                padding: 1em 30px;
                border-radius: 10px;
                box-shadow: 0px 8px 16px rgba($color-primary-black, 0.25);
            
                // En responsive (- de 450px), on cache le bouton
                @include bp(450px) {
                    display: none;
                }
            }
        }
    }
}