@mixin flex($justify-content:center, $align-items:center, $flex-direction:row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin grid($justify-content:center, $align-items:center) {
    display: grid;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin bp($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}