@use '../mixins/_mixins.scss' as *;

// Titres
.title {
    font-size: $font-size-title;
    font-weight: $font-weigth-semibold;
    color: $color-primary-green;
    line-height: $line-height-title;

    // .title--white
    &--white {
        color: $color-primary-white;
    }

    @include bp(580px) {
        font-size: $font-size-title*0.8;
    }
}