// Colors :

// Primary colors :
$color-primary-white: #ffffff;
$color-primary-black: #606060;
$color-primary-green: #B2D234;
$color-primary-blue: #60A0D8;

// Secondary colors :
$color-secondary-black: #616161;