/* This file is used to reset default browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

b {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #606060;
}

.navbar {
  font-weight: 300;
}
.navbar__list__item {
  color: #ffffff;
}
.navbar__list__item__btn {
  font-weight: 600;
  font-size: 15px;
  color: #B2D234;
}

.header__content {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.header__title {
  font-size: 126px;
  font-weight: 500;
  line-height: 189px;
}
.header__text {
  font-size: 54px;
  font-style: italic;
}
@media (max-width: 650px) {
  .header__text {
    font-size: 21.6px;
  }
}

.welcome__p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #606060;
}

.accroche__p {
  color: #ffffff;
}

.menu__p {
  line-height: 24px;
}
.menu__item__name, .menu__item__prix {
  font-size: 24px;
  font-weight: 500;
  color: #B2D234;
}
.menu__forces__titles {
  font-size: 64px;
  font-style: italic;
}
@media (max-width: 467px) {
  .menu__forces__titles {
    font-size: 44.8px;
  }
}
.menu__item-sold__text {
  color: #ffffff;
}

.blue {
  color: #60A0D8;
}

.green {
  color: #B2D234;
}

.preparations {
  color: #ffffff;
}
.preparations__list {
  line-height: 24px;
}

.form {
  color: #606060;
}
.form__label {
  font-size: 24px;
  font-style: italic;
  color: #B2D234;
}

.footer {
  color: #ffffff;
}
.footer__list {
  line-height: 34px;
}
.footer__title {
  font-size: 27px;
  font-weight: 600;
}

.title {
  font-size: 52px;
  font-weight: 600;
  color: #B2D234;
  line-height: 66px;
}
.title--white {
  color: #ffffff;
}
@media (max-width: 580px) {
  .title {
    font-size: 41.6px;
  }
}

.button {
  background-color: #B2D234;
  border-radius: 10px;
  padding: 1em 56px;
  width: fit-content;
  font-size: 21px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0px 8px 16px rgba(96, 96, 96, 0.25);
}
.button--white {
  background-color: #ffffff;
  color: #B2D234;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #B2D234;
  padding: 67px;
  gap: 40px;
}
.footer > img {
  width: 100%;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.footer__title {
  margin-bottom: 20px;
}

.navbar {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 25px;
}
@media (max-width: 1020px) {
  .navbar {
    background-color: #B2D234;
    background-size: cover;
  }
}
@media (max-width: 450px) {
  .navbar {
    justify-content: center;
  }
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
@media (max-width: 1020px) {
  .navbar__list__item {
    display: none;
  }
}
.navbar__list__item__btn {
  display: block;
  background-color: #ffffff;
  padding: 1em 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(96, 96, 96, 0.25);
}
@media (max-width: 450px) {
  .navbar__list__item__btn {
    display: none;
  }
}

body {
  overflow-x: hidden;
}

.section {
  min-height: 100vh;
  max-width: 100%;
}

.header {
  background-image: url("../imgs/Headerback.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1020px) {
  .header {
    display: none;
  }
}
.header__content {
  z-index: 2;
}
.header__text {
  margin-left: 70px;
  transform: rotate(-9deg);
}
.header__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  margin: 80px;
  bottom: 0;
  right: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(to right, #60A0D8, #B2D234);
  opacity: 0.5;
}

.welcome {
  background-image: url("../imgs/61842.png");
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  position: relative;
}
.welcome__text {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 40px;
  width: 620px;
  margin: 148px;
}
@media (max-width: 904px) {
  .welcome__text {
    margin-inline: 20px;
    width: 90%;
  }
}
.welcome__p {
  margin-right: 148px;
}
@media (max-width: 904px) {
  .welcome__p {
    margin-inline: 0;
  }
}
.welcome__img {
  position: absolute;
  top: 0;
  right: -155px;
}
@media (max-width: 1265px) {
  .welcome__img {
    display: none;
  }
}

.accroche {
  background-image: url("../imgs/ismael-trevino-NDyuR4Huig8-unsplash.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.accroche__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(178, 210, 52, 0.8);
  margin-inline: 580px 148px;
  margin-block: 80px;
  padding: 48px 68px;
  text-align: center;
}
@media (max-width: 1180px) {
  .accroche__content {
    margin-inline: auto;
  }
}
@media (max-width: 904px) {
  .accroche__content {
    padding-inline: 20px;
  }
}

.menu {
  background-image: url("../imgs/pattern.png");
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  margin-block: 65px;
  gap: 80px;
}
.menu__text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.menu__content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
@media (max-width: 1020px) {
  .menu__content {
    grid-template-columns: 1fr;
  }
}
.menu__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin-left: 148px;
  gap: 38px;
}
@media (max-width: 1020px) {
  .menu__list {
    margin: auto;
  }
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}
.menu__item__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu__forces {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 90px;
  margin-right: 198px;
}
@media (max-width: 1310px) {
  .menu__forces {
    margin: 20px;
  }
}
.menu__forces__titles {
  transform: rotate(-9deg);
}
.menu__forces__p {
  width: 460px;
  text-align: center;
}
@media (max-width: 1020px) {
  .menu__forces__p {
    width: 100%;
  }
}
.menu__item-sold {
  position: relative;
  border: 1px solid #B2D234;
}
.menu__item-sold__text {
  font-size: 12px;
  padding: 5px;
  position: absolute;
  top: -22px;
  right: -1px;
  background-color: #B2D234;
}

.preparations {
  background-image: url("../imgs/louis-hansel-MlPD-AzZYMg-unsplash.png");
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media (max-width: 900px) {
  .preparations {
    grid-template-columns: 1fr;
    margin: auto;
  }
}
.preparations__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-block: 24px;
  margin-block: 150px;
}
.preparations__card__green {
  background-color: rgba(178, 210, 52, 0.8);
  margin-left: 40px;
}
@media (max-width: 900px) {
  .preparations__card__green {
    margin: 0px;
  }
}
.preparations__card__blue {
  background-color: rgba(96, 160, 216, 0.8);
  margin-right: 40px;
}
@media (max-width: 900px) {
  .preparations__card__blue {
    margin: 0px;
  }
}
.preparations__list {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 40px;
}

.form {
  background-image: url("../imgs/61842.png");
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1226px) {
  .form {
    grid-template-columns: 1fr;
  }
}
.form__cut-img {
  background-size: cover;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: 40px 64px;
  background-image: url("../imgs/anh-nguyen-_Uqj5BQb-mw-unsplash.png");
}
@media (max-width: 1226px) {
  .form__cut-img {
    display: none;
  }
}
.form__cut-img__line {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: calc(50% - 8px);
  width: 8px;
  height: 100%;
}
.form__cut-img__line:nth-child(2) {
  top: calc(50% - 8px);
  left: 0;
  width: 100%;
  height: 8px;
}
.form__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-block: 84px 106px;
  margin-right: 106px;
  gap: 20px;
}
@media (max-width: 1226px) {
  .form__section {
    margin: 20px;
  }
}
.form__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
}
.form__case {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 48%;
}
.form__case:nth-child(n+3) {
  width: 100%;
}
.form__input, .form__textarea {
  height: 40px;
  border: 1px solid rgba(96, 96, 96, 0.2);
  padding: 0 10px;
  width: 100%;
}
.form__textarea {
  height: 100px;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
