// Font, typo and text colors

// Utilisation des mixins
@use '../mixins/mixins' as *;


// Body
body {
    font-family: $font-primary;
    font-size: $font-size-base;
    color: $color-primary-black;
}


// Navbar
.navbar {
    font-weight: $font-weigth-light;

    // .navbar__list__item
    &__list__item {
        color: $color-primary-white;
    
        // .navbar__list__item__btn
        &__btn {
            font-weight: $font-weigth-semibold;
            font-size: 15px;
            color: $color-primary-green;
        }
    }
}


// Header
.header {

    // .header__content
    &__content {
    font-family: $font-primary;
    color: $color-primary-white;
    }

    // .header__title
    &__title {
        font-size: $font-size-main-title;
        font-weight: $font-weigth-medium;
        line-height: 189px;
    }

    // .header__text
    &__text {
        font-size: $font-size-main-secondary-title;
        font-style: italic;
        
        // En responsive (- de 650px), on réduit la taille de la typo de 60%
        @include bp(650px) {
            font-size: $font-size-main-secondary-title*0.4;
        }
    }
}


// Welcome et accroche paragraphes
.welcome__p {
    font-size: $font-size-base;
    font-weight: $font-weigth-regular;
    line-height: $line-height-base;
    color: $color-primary-black;
}

.accroche__p {
    color: $color-primary-white;
}


// Menu
.menu {

    // .menu__p
    &__p {
        line-height: $line-height-base;
    }

    // .menu__item__name & .menu__item__prix
    &__item__name, &__item__prix {
        font-size: $font-size-list-title;
        font-weight: $font-weigth-medium;
        color: $color-primary-green;
    }

    // .menu__forces__titles
    &__forces__titles {
        font-size: $font-size-forces-title;
        font-style: italic;
    
        // En responsive (- de 467px), on réduit la taille de la typo de 30%
        @include bp(467px) {
            font-size: $font-size-forces-title*0.7;
        }
    }

    // .menu__item-sold__text
    &__item-sold__text {
        color: $color-primary-white;
    }
}

// Forces colors
.blue {
    color: $color-primary-blue;
}

.green {
    color: $color-primary-green;
}


// Preparations
.preparations {
    color: $color-primary-white;

    // .preparations__list
    &__list {
        line-height: $line-height-base;
    }
}


// Form
.form {
    color: $color-primary-black;

    // .form__label
    &__label {
        font-size: $font-size-list-title;
        font-style: italic;
        color: $color-primary-green;
    }
}


// Footer
.footer {
    color: $color-primary-white;

    // .footer__list
    &__list {
        line-height: 34px;
    }

    // .footer__title
    &__title {
        font-size: $font-size-footer-title;
        font-weight: $font-weigth-semibold;
    }
}